@import "var";

.author {
  padding: 3vh 5%;
  background-image: url("../images/author/author-back.jpg");
}

.author__title{
  display: flex; // Без этого ломается обводка текста
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 10vh;
}

.author__status{
  font-weight: 600;
  font-size: 1.6rem;
  color: rgb(150, 85, 31);
  margin-bottom: 1vh;
}

.author__item{
  font-size: 1.85rem;
  color: darken($brown, 30%);
  line-height: 1.2;
  font-weight: 600;
}
