.animal{
  position: absolute;
  top: 45%;
  left: 45%;
}

.canvas__container{
  position: relative;
}

.canvas__container_level{
  background: url("../images/level/level-back.jpg") center no-repeat;
  background-size: cover;
}

.wrapper_level{
  background-image: url("../images/level/level-back.jpg");
}