@import "var";

$box-width: 9.5rem;
$box-height: 3.4375rem;

@font-face {
    font-family: 'Vag_Rounded-Bold CY';
    src: url("../fonts/vag-rounded.otf");
}

.panel__settings {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.panel__name-settings {
  position: relative;
  font-family: 'Vag_Rounded-Bold CY';
  color: $black;
  margin-bottom: 6vh;
  font-size: 2rem;
  font-weight: 700;
}

.settings__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc($box-height * 2 + 0.938rem);
    margin-bottom: 1.875rem;
}

.music__box, .sound__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: $box-width;
    height: $box-height;
}

.music, .sound {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Vag_Rounded-Bold CY';
    color: $black;
    font-size: 25px;
    height: 100%;
    width: 6.25rem;
    background-color: $brown-settings;
    border-radius: 0.375rem;
    border: 3px solid $border-settings;
}

.sousound__label, .music__label, .settings__input {
    width: 1.75rem;
    height: 1.75rem;
}

.sousound__label, .music__label {
    position: relative;
    cursor: pointer;
    background-color: $white;
    border-radius: 6px;
    border: 3px solid $label-border;
}

.settings__input {
    display: none;
}

.input__checked {
    width: 1.75rem;
    height: 1.75rem;
    background-image: url(../images/settings/checked.svg);
    background-size: cover;
    position: absolute;
    left: -2.5rem;
    bottom: 0;
    transition: all 0.5s;
    opacity: 0;
}

.settings__input:checked ~ label > div {
    opacity: 1;
    left: 0;
}
