@import "scss/var";

//MAP SECTION================================================================
@import "scss/gameMapPage.scss";
// =========================================================================

:root {
  color: $white;
}

body {
  overflow: hidden;
}

html {
  overflow: hidden;
}
