@import "scss/var";

//MAP SECTION================================================================
@import "scss/gameMapPage.scss";
// =========================================================================

:root {
  color: $white;
  background: $black;
}

body {
  overflow: hidden;
  user-select: none;
  position: relative;
}

.wrapper {
  position: relative;
  height: 100vh;
  aspect-ratio: 4 / 3;
  padding-top: 1%;
  margin: 0 auto;
  background: url("images/main/main-back.jpg") center no-repeat;
  background-size: cover;
}

.title {
  position: relative;
  font-size: 2rem;
  font-weight: 700;
}

.title::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  right: 0;
  -webkit-text-stroke: 0.04em rgb(126, 89, 11);
}
